<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 네트워크/알림/진동 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- 미디어(이미지) 읽기: Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 구형 기기 호환 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 헬스 커넥트 권한 -->
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.READ_EXERCISE"/>
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE"/>
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.WRITE_TOTAL_CALORIES_BURNED"/>

    <!-- 위치/오디오 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 캘린더 -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <!-- 결제/기타 앱 쿼리 -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <!-- 간편결제 -->
        <package android:name="com.kftc.bankpay.android" />
        <package android:name="com.lottemembers.android" />
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" />
        <package android:name="com.inicis.kpay" />
        <package android:name="com.tmoney.tmpay" />
        <package android:name="viva.republica.toss" />
        <package android:name="com.samsung.android.spay" />
        <package android:name="com.kakao.talk" />
        <package android:name="com.nhn.android.search" />
        <package android:name="com.mysmilepay.app" />
        <!-- 카드 -->
        <package android:name="kvp.jjy.MispAndroid320" />
        <package android:name="com.kbcard.cxh.appcard" />
        <package android:name="com.kbstar.reboot" />
        <package android:name="com.kbstar.kbbank" />
        <package android:name="com.samsung.android.spaylite" />
        <package android:name="com.nhnent.payapp" />
        <package android:name="com.lge.lgpay" />
        <package android:name="com.hanaskcard.paycla" />
        <package android:name="kr.co.hanamembers.hmscustomer" />
        <package android:name="com.hanaskcard.rocomo.potal" />
        <package android:name="kr.co.citibank.citimobile" />
        <package android:name="com.lcacApp" />
        <package android:name="kr.co.samsungcard.mpocket" />
        <package android:name="com.shcard.smartpay" />
        <package android:name="com.shinhancard.smartshinhan" />
        <package android:name="com.shinhan.smartcaremgr" />
        <package android:name="com.hyundaicard.appcard" />
        <package android:name="nh.smart.nhallonepay" />
        <package android:name="nh.smart.card" />
        <package android:name="net.ib.android.smcard" />
        <package android:name="com.wooricard.smartapp" />
        <package android:name="com.wooribank.smart.npib" />
        <!-- 백신 -->
        <package android:name="com.TouchEn.mVaccine.webs" />
        <package android:name="com.ahnlab.v3mobileplus" />
        <package android:name="kr.co.shiftworks.vguardweb" />
        <package android:name="com.lumensoft.touchenappfree" />
        <!-- 계좌이체 -->
        <package android:name="kr.co.kfcc.mobilebank" />
        <package android:name="com.nh.cashcardapp" />
        <package android:name="com.knb.psb" />
        <package android:name="com.lguplus.paynow" />
        <package android:name="com.kbankwith.smartbank" />
        <!-- 해외결제 -->
        <package android:name="com.eg.android.AlipayGphone" />
        <!-- 기타 -->
        <package android:name="com.sktelecom.tauth" />
        <package android:name="com.lguplus.smartotp" />
        <package android:name="com.kt.ktauth" />
        <package android:name="kr.danal.app.damoum" />
    </queries>

    <application
        android:name="com.bcu.foodtable.FoodTableApplication"
        android:allowBackup="true"
        android:theme="@style/Theme.FoodTable"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_babsang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_babsang_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        tools:ignore="DiscouragedApi"
        tools:targetApi="35">

        <!-- Privacy Sandbox Ads config -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <!-- 액티비티 목록 -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <!-- 앱 아이콘/앱서랍 노출용 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 딥링크(foodtable://openchat)용 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="foodtable"
                    android:host="openchat" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.merchant.MerchantPage" android:exported="true"
            android:label="가맹 페이지"/>
        <activity
            android:name=".ui.merchant.MerchantSetupActivity"
            android:exported="true"
            android:label="가맹 기본 설정" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".PuchasePage" android:exported="false" />
        <activity android:name=".PurchaseConfirmActivity" android:exported="false" />
        <activity android:name=".JetpackCompose.Mypage.Setting.SettingActivity" android:exported="false" />
        <activity android:name="com.bcu.foodtable.JetpackCompose.Mypage.CreateChannel.ChannelCreationActivity" android:exported="false" />
        <activity android:name="com.bcu.foodtable.model.ChallengeDetailActivity" android:exported="false" />
        <activity android:name=".JetpackCompose.HomeChannelDatil.RecipeCookingActivity" />
        <activity android:name=".JetpackCompose.Mypage.ProfileActivity" android:exported="false" />
        <activity android:name=".JetpackCompose.Subscribe.SubscribeActivity" />
        <activity android:name=".JetpackCompose.MultiShopPriceSearchActivity" android:exported="false" />
        <activity android:name=".ui.ChallengeActivity" android:exported="false" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.ChallengeHistoryActivity" android:exported="false" android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity android:name="com.bcu.foodtable.JetpackCompose.AI.AiMainActivity" />
        <activity
            android:name="com.bcu.foodtable.JetpackCompose.biometric.BiometricGateActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentActivity" />
        <activity
            android:name="com.bcu.foodtable.JetpackCompose.Mypage.Health.HealthConnectActivity"
            android:exported="false" />
        <activity-alias
            android:name=".AndroidURationaleActivity"
            android:exported="true"
            android:targetActivity="com.bcu.foodtable.JetpackCompose.Mypage.Health.HealthConnectActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.home.SlotActivity"
            android:exported="false" />
        <!-- FCM 메시징 서비스 -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:process=":Unity"
            android:screenOrientation="fullSensor"
            android:theme= "@style/Theme.AppCompat.NoActionBar"
            tools:replace="android:configChanges,android:screenOrientation,android:theme">
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
        </activity>
    </application>
</manifest>
